<?xml version="1.0"?>
<config>
	<maillog>/var/log/maillog</maillog>
	<maillog_period>24</maillog_period>
	<maillog_pattern>blocked\|reject</maillog_pattern>
	<logmail_from>do-not-reply@example.de</logmail_from>
	<logmail_to>administrator@example.de</logmail_to>
	<logmail_subject>Postfix Bounce Report</logmail_subject>
	<recipients_check>true</recipients_check>
	<recipients_list>/etc/postfix/submission_recipient</recipients_list>
	<severety_threshold>20</severety_threshold>
	<domains>domain.de|domain.org|otherdomain.de</domains>
</config>
